{% extends "base.html" %}

{% block title %}Página Inicial - IFScore{% endblock %}

{% block content %}

<div class="home-container">

    <section class="secao-noticias">

        <div class="secao-header">
            <h2>Últimas notícias do futebol</h2>
            <span class="badge-live">
            </span>
        </div>

        <div id="feed-noticias">

            <!-- As notícias serão inseridas pelo JavaScript -->

        </div>

    </section>

</div>

<script src="/static/js/noticias.js"></script>

{% endblock %}